@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
    background-color: #89a7b1;
    margin: 0;
}

/* CABEÇALHO */
header {
    margin-bottom: 16px;
}

header div.hotelista {
    float: left;
    min-width: 100%;
}

header div.hotelista div {
    padding: 0 16px 0 16px;
}

header div.hotelista div.logo {
    object-fit: contain;
    height: 100%;
    max-width: 5%;
    display: inline-block;
}

header div.hotelista div.logo img {
    width: 100%;
    vertical-align: middle;
}

header div.hotelista div.logo img:hover {
    opacity: 0.6;
}

header div.hotelista div.slogan {
    font-size: xx-large;
    display: inline-block;
}

header ul.navegacao {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34344e;
    min-width: 100%;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

header ul.navegacao li {
    float: left;
}

header ul.navegacao li a {
    display: block;
    color: #cbdad5;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

header ul.navegacao li a:hover {
    background-color: #cbdad5;
    color: #333333;
}

header ul.options {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cbdad5;
    color: #34344e;
    min-width: 100%;
    height: auto;
}

header ul.options li {
    float: right;
}

header ul.options li.cadastrese {
    float: left;
}

header ul.options li a {
    display: block;
    color: #34344e;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

header ul.options li span {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

header ul.options li a:hover {
    background-color: #34344e;
    color: #cbdad5;
}

/* RODAPÉ */
footer {
    padding-top: 128px;
    text-align: center;
    line-height: small;
    font-size: smaller;
    list-style-type: none;
    text-decoration: none;
    line-height: 10px;
}

footer p {
    text-align: center;
}

footer ul {
    list-style-type: none;
    margin: 0 25% 0 25%;
    padding: 0;
}

footer li a {
    display: block;
    padding: 8px 16px;
    color: #333333;
    text-decoration: none;
    text-align: center;
}

footer li a:hover {
    color: #566981;
}

footer div.copyright {
    font-size: large;
    background-color: #34344e;
    color: #cbdad5;
    margin-top: 32px;
    border-top: 4px #cbdad5 solid;
}

footer div.copyright p {
    margin: auto;
    display: inline-block;
}

footer div.copyright p img {
    border-radius: 50%;
    max-height: 5em;
    width: auto;
    vertical-align: middle;
    display: inline-block;
}

/*Inicio da estilização - acomodações*/

.containers h2 {
    text-align: center;
    margin: 6% 0% 6% 0%;
}

.container01 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}
.box{
    width: 100%;
    display: grid;
    margin: 0 auto;
    margin-bottom: 15%;
}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    background: #566981;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow:0 2px 10px rgba(0,0,0,0.2);
}
.card:before,.card:after {
    content:"";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: 0.5s;
}

.card .imgBx{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    transition: 0.5s;
    z-index: 1;
}
.card:hover .imgBx{
    bottom: 80px;
}
.card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.card .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}
.card .details h4{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 1rem;
   color: #89a09a;
   text-transform: uppercase;
   margin-top: 5px;
} 
.card .details h4 span{
  font-weight: 400;
  font-size: 0.9rem;
  color: #29293d;
  display: block;
  margin-top: 5px;
} 
.destak {
    padding: 10%;
}

.destak img {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10%;
    width: 40%;
}

.right {
    float: right;
    margin-right: 0;
    margin-left: 10px;
    margin-bottom: 5px;

}

.destak h2 {
    padding: 10px;
}

.destak p {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-right: 9%;
    text-align: justify;
    align-items: center;
}

.destak {
    padding-bottom: 30%;
}

/*Fim da estilização - acomodações*/

/*Início da estilização - Sobre*/

.hotel img {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5%;
    width: 35%;
}

.hotel p {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-right: 1%;
    text-align: justify;
    align-items: center;
}

.containersobre {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    flex: 0 0 20%;
    margin-left: 10%;
}

div>div {
    padding: 10px;
}

#img1sobre {
    max-width: 510px;
    min-width: 310px;
    width: 400px;
    height: 300px;
}

#img2sobre {
    max-width: 510px;
    min-width: 310px;
    width: 400px;
    height: 300px;
}

#img3sobre {
    max-width: 510px;
    min-width: 310px;
    width: 400px;
    height: 300px;
}

/*Fim da estilização - Sobre*/

/* Forms */

form {
    display: list-item;
    list-style-type: none;
    text-align: center;
    color: #cbdad5;
    background-color: #34344e;
    border: 2px solid #cbdad5;
    border-radius: 8px;
    box-shadow: 8px 8px #333333;
}

form h2 {
    padding: 0;
}

form input {
    border: none;
    border-bottom: 2px solid #89a7b1;
    background-color: #cbdad5;
    border-radius: 4px 4px 0 0;
    padding: 0 8px 0 8px;
    width: 60%;
    height: 28px;
    box-shadow: 4px 4px #333333;
    font-family: 'Poppins';
}

form button {
    border: 2px solid #89a7b1;
    background-color: #cbdad5;
    border-radius: 4px;
    padding: 8px 32px 8px 32px;
    width: 75%;
    margin-top: 32px;
    font-size: medium;
    font-weight: bold;
    color: #333333;
    box-shadow: 4px 4px #333333;
    cursor: pointer;
    transition-duration: 0.25s;
}

form button:hover {
    background-color: #566981;
    color: #cbdad5;
}

form a {
    text-decoration: underline;
    font-size: small;
    color: #89a7b1;
    transition-duration: 0.25s;
}

form a:hover {
    color: #cbdad5;
}

/* Login */

form.login {
    max-width: 50%;
    margin: auto;
    padding: 0 0 32px 0;
    line-height: 48px;
}

/* Tela home */
.titulo1 {
    margin: 0 0 10px 43px;
}
.texto1{
    text-align: justify;
    margin: 0 1% 0 1%;
    }
.containerhome h1{
    margin: 0 1% 0 1%;
    padding-bottom: 1%;
    }
.containerhome img{
    margin: 0 1% 0 1%;
}

/*Estilização Página Contato*/
.input-nome {
    width:30%;
}

.input-email {
    width:30%;
}

.input-tel {
    width:5.5%
}

.msg {
    resize: none;
  }

.enviar-button {
    border: 2px solid #89a7b1;
    background-color: #cbdad5;
    border-radius: 4px;
    padding: 8px 32px 8px 32px;
    width: 10%;
    margin-top: 5px;
    font-size: medium;
    font-weight: bold;
    color: #333333;
    box-shadow: 4px 4px #333333;
    cursor: pointer;
    transition-duration: 0.25s;
}


/*Inicio responsividade*/

@media (max-width:425px) and (orientation:portrait) {

    /* Login */
    form.login {
        max-width: 85%;
    }
    /* Barra de navegação */
        nav ul {
            display: grid
        }

    /* Cabeçalho */
    header div.hotelista div.logo {
        max-width: 10% !important;
    }

    header div.hotelista div.slogan {
        font-size: small;
        display: inline-block;
    }

    header div.hotelista {
        margin: 16px 0 16px 0;
    }

    header ul.navegacao li a {
        padding: 12px;
        font-size: small;
    }

    header ul.options li {
        font-size: small;
    }

    header ul.options li a {
        padding: 8px;
    }

    header ul.options li span {
        padding: 8px;
    }

    /* Rodapé */
    footer div.copyright p {
        font-size: smaller;
        padding-bottom: 16px;
        line-height: 16px;
    }

    footer div.copyright p img {
        max-height: 7.5em;
    }
  
    /* Página home */
    .img01{
        max-width: 100%;
    }
    .img02 {
            max-width: 100%;
    }
    
  .container01 {
    display:block;
  }
  .titulo1{
    margin: 0 0 10px 43px;
  }
  /*Página Acomodações*/
  .container01{
    display: block;
    margin: 0;
    align-items: center;
  }
  .destak h2{
    text-align: center;
  }
  .destak img{
    height: 20vh;
    width: 80vw;
    float: left;
  }
  .destak p{
    width: 100%;
  }

    /* Contato*/
    .h2-contato {
        text-align: center;
    }
    .input-nome {
        width: 80%;
      }
    .input-email {
        width: 80%;
      } 
    .input-tel {
        width: 30%;
      }     

    .msg {
        resize: none;
        width: 80%;
      }
    .enviar-button {
        width: 35%;
    }       
}

/* Single Page*/
.article-singlepage{
    min-height: 100vh;
    padding: 40px 0 0 0;
    }
    
    div.navup-singlepage{
    color: black;
    cursor:pointer;
    width:100px;
    height:50px;
    position:fixed;
    top:95%; left: 50%;
    
    }
    
