@mixin li {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    justify-content: space-around;
}
@mixin links{
    display: block;
    padding: 8px 16px;
    color: #333333;
    text-decoration: none;
}
@mixin marcador {
    list-style: none;
    text-align: center;
    padding-top: 3%;
}
@mixin input {
    border-bottom: 2px solid #89a7b1;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    margin: 0.5%;
    width: 60%;
    height: 28px;
    padding: 0.5rem;
    box-shadow: 4px 4px #333333;
}
@mixin button{
    border: 2px solid #89a7b1;
    background-color: #fff;
    border-radius: 4px;
    padding: 8px 32px 8px 32px;
    width: 15%;
    margin-top: 32px;
    font-size: small;
    font-weight: bold;
    color: #333333;
    box-shadow: 4px 4px #333333;
    cursor: pointer;
}
@mixin copyright{
    font-size: large;
    background-color: #34344e;
    color: #cbdad5;
    margin-top: 15%;
    border-top: 4px #cbdad5 solid;
}
@mixin logoFooter{
    border-radius: 50%;
    max-height: 5em;
    width: auto;
    vertical-align: middle;
    display: inline-block;
}