$fonte: 'Poppins';
$f-Size1: 82px;
$f-Size2: 50px; 
$f-Size3: 70px;
$f-Size4: 16px;


$margin: 8%;
$mb: 1.3rem;
$m3: 10px;
$m4: -40px;
$m5: 25px;
$m6: -25px;
$m7: 35px;
$m8: -15px;
$m9: -50px;
$p1: 1rem;
$p2: 40px 0 0 0;

$altura: 100vh;
$height1: 50px;
$height2: 80vh;
$largura: 100vw;
$inputWidth: 30%;
$width1: 100px;
$width2: 95vw;




$corFundo: #c1c6d7;
$cor1: black;

$negrito: bold;

$opacidade: 0.6;

$centro: center;
$justificado: justify;

$absolute: absolute;
$relative: relative;
$top1: 90%;
$top2: 350px;
$top3: 235px;
$top4: 370px;
$left1: 50%;
$left2:550px;
$left3: 550px;
$left4: 80px;